/* 
    Document   : costum_style
    Created on : May 18, 2012, 11:07:31 AM
    Author     : dev
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.templateHeading {
    color: #100F63;
    float: left;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -20px;
}
.selectedTemplateHeading {
    color: #E80215;
    font-size: 12px;
}

.title_temp{
    width: 100%; float: left; margin-top: 30px;
}
 .add_t{
    width: 49%!important; float: right!important; 
}
.firstcol{
    margin:0 0 0 20px!important;
}
.autocdb{
    margin-top:5em !important;
}
.dispatch{
    margin-right: 20px;
}
.disable{
    background: #CCCCCC!important;
   
}
div.checker{
    margin:-4px 0 0 -1px!important;
}

.srt{
    background: none!important;
    width: 10px!important;
}

.action_hide{
    background: none!important;
}
.increment{
    padding: 0 3px!important;
}
.que{
    background: #F4F4F4;
    background: -o-linear-gradient(top, #FCFCFC, #F4F4F4);
    background: -ms-linear-gradient(top, #FCFCFC, #F4F4F4);
    background: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F4F4F4));
    background: -webkit-linear-gradient(top, #FCFCFC, #F4F4F4);
    background: linear-gradient(top, #FCFCFC, #F4F4F4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFCFC,endColorstr=#F4F4F4);
    margin:0px !important;
    padding:15px 30px;
    border: 1px solid #AAAAAA;
    display: block;
    margin-bottom: 20px!important;
}
.imp{
    margin-bottom: 20px;
}
.pagination li a, .paging_full_numbers span.paginate_button, .paging_full_numbers span.paginate_active{
    padding: 0 6px!important;
}
span.paginate_button, .paging_full_numbers span.paginate_active{
    font-size: 10px!important;
}
.paging_full_numbers{
    width: 290px!important;
}
/*.dataTables_info{
    width: 45%!important;
}
.dataTables_length{
   width: 18%!important; 
}*/
.ui-notify {z-index: 999999!important;}
 .form .form-input .selector{
    padding: 0!important;
}
.invalid_popup {
    border: 1px solid red !important;
}
a.tooltip_new:hover {*background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip_new span {display:none; padding:2px 2px; margin-left:-65px;margin-top:-25px; width:130px; }
a.tooltip_new:hover span{
    display:inline;
    position:absolute;
    background:#ffffff;
    border:1px solid #cccccc;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); 
    color:#3C3C3C;
    z-index: 999999;}

/*quiz-setting button*/
a.tooltip_client_settings_button span{width:250px!important;margin-top: -45px!important;}
a.tooltip_client_settings_button{margin-top:18px!important; }
/*quiz-image answer*/
a.tooltip_image_answer span{margin-top: -175px!important;margin-left:0!important;width:200px!important;}
a.tooltip_image_answer{margin-top: -5px!important;}
/*quiz-image question*/
a.tooltip_image_question span{margin-top: -175px!important;margin-left:0!important;width:200px!important;}
a.tooltip_image_question{margin-top: -5px!important;}

/*activate/desactivate client tooltip*/
a.tooltip_new.as span{display:none; padding:2px 2px; margin-left:-65px !important;margin-top:-70px !important; width:95px !important;}
a.tooltip_new.as:hover span{display:inline; position:absolute; background:#ffffff; border:1px solid #cccccc;border-radius:3px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); color:#3C3C3C;z-index: 99999;}
.corect_answer{
    width: 14px!important;
}
div.space{
    height: 18px;
}
span.error{color: #FF0000;
    font-size: 16px;
    position: relative;}
em.delete{
    cursor: pointer;
    float: right;
    margin-right: 4px;
}
em.delete:hover{
    color: #FF0000;
}
a.plus_question span{
    margin-left:0px;
}
a.delete_last_question span{
    margin-left:0px;
}
div.adding{
    cursor: pointer;
    float: right;
    margin-right: 15px;
    width: 17px;
    margin-top: 5px;
}
input.answers_number{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #F7F7F7;
    box-shadow: none;
    font-size: 2em;
    height: 100%;
    width: 9%;
}
.err{
    color: red;
}

/*credit card*/
.tooltip_box{
    border: 1px solid silver;
    border-radius: 3px 3px 3px 3px;
    font-size: 10px;
    padding: 0 4px;
}
a.tooltip_card:hover {*background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip_card span {display:none;  margin-left: 10px; font-weight: normal; }
a.tooltip_card:hover span{
    line-height: 15px;
    text-align: left;
    display:inline;
    padding: 4px 4px;
    position:absolute;
    background:#ffffff;
    border:1px solid #cccccc;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2); 
    color:#3C3C3C;
    z-index: 999999;}

/*chekbox form*/
.colorbox_form_input{
    width:55%!important;
}
.colorbox_form_label{
    width: 45%!important;
}
a.plus_member img:hover{
    cursor: pointer;
    background:#67A2CF; 
}
a.minus_member img:hover{
    cursor: pointer;
   background:#67A2CF;  
}
/* before login*/
a.flag{
   height: 37px;
    position: absolute;
    right: 50px;
    top: 27px;
}
/*after login*/
a.flag_after{
    height: 37px;
    position: absolute;
    left: -80px;
    top: 1px;
}

a.flag img{
    width: 25px;
}
.logo{
    text-indent: 0!important;
}

    /*     inbox    */
.user_nm{ height: 15px;width: 350px; color: #0066CC;}
.user_mes{ float:left;margin-left:320px;margin-top:-15px;}
.user_nm_new{  color: #348781;}
.user_mes_new{ float:left;margin-left:320px;margin-top:-15px;}
.pane img{ float: left !important;margin-right: 10px;}
.pane {
	position: relative;
}
.pane .delete {
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
}
.count_days{
  width:100px;
  float:left;
    top: 13px;
    left: 180px;

}
#content div.box h3{padding:0px;}
#test{min-height:auto;}

.ui-accordion .ui-accordion-content {
    margin-bottom: 2px!important;
    margin-top: 0px!important;
    overflow: auto!important;
    padding: 5px!important;
}
.ui-accordion p{
        background: #f7f7f7!important;
	padding: 10px 15px 20px!important;
	border-left: solid 1px #c4c4c4!important;
	border-right: solid 1px #c4c4c4!important;
}
/*    finish- inbox */
input.img_span{
      background: url("../images/navicons/56.png") no-repeat scroll right center #FFFFFF;
    border: medium none;
    box-shadow: none;
    font-size: 18px;
    line-height: 22px;
    padding: 0.6em;
    position: relative;
    width: 65%;
}